#start_btn {
	border-radius: 8px;
	color: white;
	background-color: red;
}

#password {
	border-radius: 8px;
	color: white;
	background-color: black;
}

#login {
	border-radius: 8px;
	color: white;
	background-color: black;
}

#mail {
	border-radius: 8px;
	color: white;
	background-color: black;
}

#language {
	border-radius: 8px;
	color: white;
	background-color: black;
}

.main_content {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	color: white;
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("astrofilm.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

header {
	diplay: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 40px;
}


@media (max-width: 599px){
	body {
		background-position: 50% center;
	}
}